@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
* {
  box-sizing: border-box;
  outline: none;
}
body {
    margin: 0 auto;
    width: 100%;
}
.nav-link {
	font-family: 'Gilroy-Bold';
	font-size: 18px;
   line-height: 22px;
   color: #828282;
}
.navbar-collapse {
   padding-bottom: 16px;
   padding-top: 9px;
   margin-right: 30px;
}
.navbar {
	border-bottom: 1px solid #828282;
   transform: matrix(1, 0, 0, 1, 0, 0);
   padding: 0;
   display: flex;/**/
   flex-direction: row;/**/
   justify-content: space-between;/**/
}
.navbar-toggler {
	margin-top: 28px;
	margin-bottom: 28px;
	border: none;
	padding: 0;
	display: block;/**/
}
.my-self {
	margin-top: 40px;
}
.page {
    display: flex;
    min-height: 100vh;
}

/* Фиксируем позицию body, которую меняет панель гугла*/

.page_fix {
    top: 0 !important;
    position: static !important;
}

/* Прячем панель гугла */

.skiptranslate {
    display: none !important;
}
/* language */

.language {
    display: flex;
    flex-direction: row;
}

.language__img {
    margin: 2px;
    cursor: pointer;
    opacity: .5;
}

.language__img:hover,
.language__img_active {
    opacity: 1;
}

/* content */

.content {
    text-align: center;
    margin: auto;
}
.language-box{
   align-self: center;
}
.box-flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.designer-box{
	text-align: center;
}
.lang-switcher:hover {
	color: #090909;
}
.language-menu{
	display: none;
}
.language-menu .language img{
   margin-right: 15px;
}
.my-self__name {
   font-family: Gilroy-Bold;
   font-size: 47.3392px;
   line-height: 59px;
   color: #070707;
}
.my-self__profision {
   font-family: Gilroy-Medium;
   font-size: 18px;
   line-height: 22px;
   color: #070707;
   align-self: center;
   margin-right: 50px;
   text-align: start;
}
.img-denis {
	text-align: center;
	margin-top: 31px;
}
.img-sm {
	display: none;
}
.responsive {
    width: 100%;
    height: auto;
}
/*about-me*/

.about-me {
	padding-top: 120px;
	padding-bottom: 107px;
	margin: 0;
   margin-top: 104px;
   background: #F6F6F6;
   
}
.information__title{
	margin: 0;
	font-family: Gilroy-Medium;
	font-size: 34px;
   line-height: 42px;
   text-align: center;
   color: #070707;
   margin-bottom: 17px;
}
.information__description{
	margin: 0;
	font-family: Gilroy-Medium;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #070707;
}


/*Skills*/

.scills{
	margin-top: 91px;
	margin-bottom: 110px;
}
.scills__title, .scills__description{
	margin: 0;
}
.scills__title{
	margin-bottom: 69px;
	font-family: Gilroy-Bold;
   font-size: 34px;
   line-height: 42px;
   text-align: center;
   color: #070707;
}
.scills__description{
	margin-bottom: 83.5px;
	font-family: Gilroy-Medium;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #070707;
}
.raiting-stars{
	display: flex;
	justify-content: space-between;
}
.icon-AdobePhotoshop{
	fill: #31C5F0;
	background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}
.icon-illustrator{
	fill: #FF7F18;
	background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}
.icon-AfterEffects{
	fill: #D8A1FF;
	background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}
.icon-star-black{
	fill: #070707;
}
.icon-star-white{
	fill: #E5E5E5;
}
.raiting-stars{
	text-align: center;
	align-self: center;
}
.card-deck .card{
	text-align: center;
	justify-content: center;
	border: none;
	margin: 0;
	padding: 0;
	align-self: center;
}
.box-svg{
	text-align: center;
}
/*portfolio*/
.portfolio{
    padding-bottom: 96px;
    background: #F6F6F6;
    padding-top: 113px;
}
.img-portfolio{
	margin-top: 99px;
}
.portfolio-title{
	font-family: Gilroy-Bold;
   font-size: 34px;
   line-height: 42px;
   text-align: center;
   color: #070707;
   margin-bottom: 47px;
}
.portfolio-title + .img-levis{
	margin-top: 0;
}
.portfolio-link{
	display: block;
	text-align: center;
	margin-top: 45px;
	font-family: Gilroy-Medium;
   font-size: 18px;
   line-height: 22px;
   color: #7d7c7c;
}
.portfolio-link:hover{
   text-decoration-line: underline;
   color: #070707;
}
/*footer*/
.contacts{
	padding-top: 114.24px;
	padding-bottom: 123.14px;
}
.container-flex{
	display: flex;
	flex-direction: column;
}
.contacts-title, .contacts-description, .contacts-btn, .contacts-navbar, .contacts-description-footer{
	text-align: center;
}
.contacts-title{
   font-family: Gilroy-Bold;
   font-size: 34px;
   line-height: 42px;
   color: #070707;
   margin: 0;
   margin-bottom: 20.03px;
}
.contacts-description{
	font-family: Gilroy-Medium;
   font-size: 18px;
   line-height: 22px;
   color: #070707;
   margin: 0;
   margin-bottom: 29.6px;
}
.contacts__menu{
	box-sizing: content-box;
	width: auto;
	margin: 0 auto;
	margin-bottom: 45.98px;
	display: flex;
	flex-direction: row;
   justify-content: space-around;
}
.contacts__menu-link{
   margin-right: 61px;
}
.contacts__menu-link-margin{
	margin-right: 0px;
}
.contacts__menu-icon{
	fill: #070707;
}
.contacts-description-footer{
	font-family: Gilroy-Medium;
   font-size: 14px;
   line-height: 17px;
   color: #828282;
}
/*button*/
.contacts-btn {
	align-self: center;
	width: 180px;
   padding: 13px 30px 13px 28px;
   outline: none;
   border: none;
   border-radius: 50px;
   background: #000000;/*linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);*/
   transition: .2s ease-in-out;
   margin-bottom: 85.78px;
}
.contacts-btn:hover:not(:active) {
   background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.contacts-btn:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,1,6,.5) inset,
   0 2px 3px rgba(0,1,6,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
.contacts-btn__span{
	font-family: Gilroy-Bold;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #FFFFFF;
}
/**/
#toTop {
  width: auto
  padding:5px;
  position:fixed;
  z-index: 100;
  bottom:50px; 
  right:40px;
  cursor:pointer;
  display:none;
  text-align: center;   
}
.icon-up{
  margin: auto;
	width: 50px;
	height: 50px;
}
@media (max-width: 900px){
   .col-card{
   	padding-left: 25px;
   	padding-right: 25px;
   }
   .card-deck .card {
       margin-top: 80px;
   }
  .scills__description{
  	   margin-bottom: 0;
  }
  .icon-up{
	   width: 40px;
	   height: 40px;
   }
}
@media (max-width: 760px){
	.card{
		width: 18rem;
	}
	.raiting-stars__element svg{
	   width: 20.07px;
	   height: 20px;
   }
   .contacts__menu-link{
      margin-right: 31px;
   }
   .contacts__menu-link-margin{
	   margin-right: 0px;
   }
   #toTop {
    bottom:50px; 
    right:40px;
   }
   .icon-up{
	   width: 30px;
	   height: 30px;
   }
}
@media (max-width: 740px) {
   .icon-up{
     width: 26px;
     height: 26px;
   }
}
@media (max-width: 740px) { /
	.header{
		margin-top: 40px;
	}
	.navbar{
	   border-bottom: none;
   }
   .lang-switcher-menu{
   	display: block;
   	font-family: Gilroy-Bold;
      font-size: 34px;
      line-height: 42px;
      color: #828282;
      transform: rotate(90deg);
      margin-bottom: 40px;
   }
   .language-menu{
   	display: block;
   }
   .my-self__name {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
   }
   .designer-box{
	   -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
   }
   .lang-switcher-box{
   	display: none;
   }
   .language-box{
   	display: none;
   }
   .designer-box{
   	text-align: start;
   }
   .navbar {
      justify-content: flex-end;
   }
  .navbar-collapse{
  	   text-align: start;
  	   margin-top: -78px;
  	   box-sizing: content-box;
  	   margin-bottom: 100px;
  	   width: 450px;
  }
   .menu-box {
      box-sizing: border-box;
      width: auto;
   }

   .nav-item {
	    box-sizing: content-box;
       width: auto;
       margin-bottom: 68px;
   }
   .nav-link{
	   display: inline;
	   font-size: 34px;
      line-height: 42px;
   }
   .lang-switcher-menu{
      box-sizing: content-box;
      width: auto;
      margin-left: 170px;
   }
  .lang-switcher{
      display: inline;
	   font-size: 34px;
      line-height: 42px;
  }
  .my-self__profision{
      margin-right: 0px;
  }
  .container-my-self{
  	   margin-top: -70px;
  }
  .my-self{
  	   margin-top: 0;
  }
  .raiting-stars{
	   justify-content: space-around;
  }
  .col-element{
	   margin-left: 0px;

  }
  .card-deck .card {
    margin-top: 80px;
  }
  #toTop {
     bottom:20px; 
     right:20px;
   }
   .icon-up{
	   width: 26px;
	   height: 26px;
   }
   .icon-up{
     width: 26px;
     height: 26px;
   }
}
@media (max-width: 705px) { /*575*/
   .lang-switcher-menu{
      text-align: center;
   }
}
@media (min-width: 576px){
.card-deck .card {
    margin-right: auto;
    margin-left: auto;
 }
}
@media (max-width: 575px) { 
   .img-lg{
	   display: none;
   }
   .img-sm{
	   display: block;
   }
   .card-deck .card{
		  margin-top: 80px;
      margin-right: 0;
	}
	.card-deck .card{
		margin-top: 80px;
      width: auto;
      align-self: center;
	}
	.scills__description{
		margin-bottom: 71px;
	}
	.card-deck .card-1{
      margin-top: 0;
	}
}
@media (max-width: 540px){
   .col-card{
   	padding-left: 75px;
   	padding-right: 75px;
   } 
   .nav-item{
		margin-bottom: 58px;
	}
   
}

@media (max-width: 500px){
	.col-card{
   	padding-left: 35px;
   	padding-right: 35px;
   }
	.nav-item .nav-link{
		font-size: 16px;
      line-height: 18px;
	}
	.nav-item{
		margin-bottom: 28px;
	}
	.information__description{
		font-size: 16px;
      line-height: 20px;
	}
}

